body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

   /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
 .row.content {height: 1500px}
    /* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 35%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

a {
  color: #00B7FF;
}
#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
}
.forcechart {

    height: 35%;
}
