<!DOCTYPE html>

<script>
	var myname = "<%= currentUser.username %>";
</script>
<%
if (user.username == currentUser.username) { 
	var isMe = true;
} else {
	var isMe = false;
}
%>

<html>
<head>
	<link rel="stylesheet" href="/css/new.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>


	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
					</li>

				</ul>
				<div class="navbar-form navbar-right">
						<div id="rightside">
							<a id="user" href="/users/<%= currentUser.username %>">
								Hi, 
								<%=currentUser.username%> <img id="userpic" src="<%= currentUser.image %>" style="max-height:30px; max-width:100%;"/></a>

							<a href="/logout" id="logout"> Logout</a>
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="#"><img class="img-responsive" alt="" src="<%= user.image%>"></a>
						<div class="row">
							<div class="col-xs-12">
								<b><%= user.username %></b><text class="text-muted"> in <%= user.cluster %></text>
							</div>
						</div>
						<% if (isMe) { %> 
					    <form method="POST" action="/profile">
					    	Image<br>
							<input class="form-control" name="image" type="text" id="image" value="<%=user.image%>"/><br>
							Bio<br>
							<textarea class="form-control" id="bio" name="bio"><%= user.bio %></textarea><br><br>
							<input class="btn btn-primary" type="submit" value="Update">
						</form>
						<% } else { %>
							<%= user.bio %>
						<% } %>


					</div>
				</div>

				<div class="panel panel-default panel-custom">
					<div class="panel-heading">
						<h3 class="panel-title">
							Cluster Lists
						</h3>
					</div>
					
					
					<div class="panel-body">
						<ul >
							<% for (var i=0;i<cluster.length;i++) { %>
								<li><a href="/users/<%=cluster[i].clustername%>"><%= cluster[i].clustername %></a></li>
							<% } %>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<% if (isMe) { %>
						<div class="row">
							<div class="col-sm-2">
								<a class="media-left" href="#fake">
									<img alt="" class="media-object img-rounded" src="<%=user.image%>" style="height:40px; width:100%;">
								</a>
							</div>
							<div class="col-sm-10">
								<div class="form-group has-feedback">
									
										<form action="/statuses"  id="postNewStatus" method="POST">
											<input class="form-control" id="search2" name="status" placeholder="What's your status?"/>
											<input class="btn btn-primary" type="submit" value="Post"/>
										</form>
									
								</div>
							</div>
						</div>
						<% } %>
					</div>
					<div class="panel-body">

					<% for (var i=0;i<statuses.length;i++) { %>

						<div class="media row">
							<div class="col-md-2">
						<a class="media-left" href="#fake">
							<img alt="" class="media-object img-rounded" src="<%= statuses[i].image %>" style="height:40px; width:100%;">
						</a>
							</div>
							<div class="media-body">
								<a href="/users/<%=statuses[i].username%>">
								<h4 class="media-heading"><b><%= statuses[i].username %></b><text class="text-muted"> in <%= statuses[i].cluster %></text></h4></a>
								<p><%= statuses[i].body %></p>
								<ul class="nav nav-pills nav-pills-custom">
									<li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
									<li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
									<li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
									<li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
								</ul>
							</div>
						</div>
					<% } %>

						
					</div>
				</div>

				<br>
				<br>

			</div>

			<div class="col-sm-3">
				<div class="panel panel-default panel-custom">
					<div class="panel-heading">
						<h3 class="panel-title">
							Message
						</h3>
					</div>
					<div class="panel-body">

                        <% for (var i=0;i<messages.length;i++) { %>

    						<div class="media">
    							<div class="media-left">
                                    <a href="/users/<%=messages[i].from%>">
    								<img src="<%=messages[i].image%>" alt="" class="media-object img-rounded" style="max-height:30px;">
                                    </a>
    							</div>
    							<div class="media-body">
                                    <!-- <p><%=messages[i].from%></p> -->
    								<p><%=messages[i].body%></p>
    							</div>
    						</div>
                        <% } %>

					</div>
					<div class="panel-footer">
                        <% if(isMe) { %>
                            <form method="POST" action="/message">
                                <label for="sel1">To:</label>
                                  <select class="form-control" id="sel1" name="to">
                                    <% for (var i=0;i<allusers.length;i++) { %>
                                        <option><%=allusers[i].username%></option>
                                    <% } %>
                                  </select>
                                <input type="hidden" name="from" value="<%=user.username%>">
                                <input type="hidden" name="image" value="<%=user.image%>">
                                <label >Content:</label>
                                <textarea class="form-control" id="bio" name="body"></textarea><br>
                                <input class="btn btn-primary btn-sm" type="submit" value="Send">
                            </form>
                        <% } %>
					</div>
				</div>
			</div>


		</div>
	</div>







</body>
</html>


